<section class="intro">
  <div class="container">
    <div class="text" style="width:90%;">

      <img src="/assets/images/favicon.png" width="100px" / style="margin-bottom:10px;">
      <div class="soc" style="width:200px; margin:auto auto 10px auto;">
          <a id="fb" href="https://github.com/deedev" style="padding:5px 5px 5px 10px; margin:5px; border:1px solid #adb1af;color:black; border-radius:10px;">
              Github
            </a>
            <a id="git" href="https://www.facebook.com/wow.16121996" style="padding:5px; margin:5px; border:1px solid #adb1af;color:black; border-radius:10px;">
                Facebook
              </a>
      </div>
        
        <blink class="lead deedee" style="font-size:14px; color:black">
            Những suy nghĩ, chiêm nghiệm của một thanh niên mang trong mình chiếc sịp siêu nhân.
          </blink>

    </div>
  <div class="hr">

  </div>
  </div>
</section>