---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "main";
.post-item a {
    font-size: 15px;
    font-weight: initial;
}
.link:hover, .intro a:hover, .navbar a:hover, .post-link:hover, .post a:hover, .page a:hover, .pagination .prev:hover, .pagination .next:hover, .site-footer a:hover, .link:focus, .intro a:focus, .navbar a:focus, .post-link:focus, .post a:focus, .page a:focus, .pagination .prev:focus, .pagination .next:focus, .site-footer a:focus, .link:active, .intro a:active, .navbar a:active, .post-link:active, .post a:active, .page a:active, .pagination .prev:active, .pagination .next:active, .site-footer a:active {
    color: #1e1ef9;
}
@media (max-width:542px){
    .date-label{
        display: none;
    }
}
.text{
    text-align: center;
}
#git:hover{
    border: 1px solid red !important;
}
#fb:hover{
    border: 1px solid red !important;
}
.hr{
    border: 1px solid #d4d2d2;
margin: 20px auto;
    margin-right: auto;
width: 30%;
margin-right: 40%;
}
.logo {
    float: left;
    margin: 0 0 1em 0;
    cursor: pointer;
    letter-spacing: 0.8px;
    font-size: 20px;
    line-height: 31px;
}
